<h1>About Jungle</h1>


<p class="card" style="font-size: 1.5em; width: 50%;">Jungle used to sell books but now it has taken over the world and increased wealth disparity between the rich and the poor! Our founder and CEO, Beff Jesus, pays 0 taxes and will be running for president in 2024!! Vote Beff!!!</p>

          <% if current_user %>
            <div>Signed in as <%= current_user.first_name %> <%= current_user.last_name %> | <%= link_to "Logout", '/logout' %></div>
          <% else %>
            <div><%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %></div>
          <% end %>

          <%= yield %>
        